@import "src/styles/quasar.variables";
.container-payment {
  width: 80vw;
  border-radius: 25px;
  background-color: $secondary2;
  font-size: 60px;
  font-family: 'Open Sans Hebrew Condensed', serif;

  div {
    color: $accent;
    font-size: 30px;
    margin-right: 30px;
    font-family: 'Open Sans Hebrew Condensed', serif;
    i{
      color: #00383d;
      width: 30px;
      font-size: 30px;
    }
    p {
      font-size: 25px;
    }
  }

}