@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';

// app global css in SCSS form
//@import "onBoarding/mainStyle";
@import "shapes";
@import "sizes/containers";
@import "inputs";
//@import "borders/radius";

* {
  margin: 0;
  padding: 0;
  //box-sizing: unset;

}

p {
  margin: 0;
}

a {
  text-decoration: none; /* no underline */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //margin: auto;
  //height: 100vh;
  //max-width: 50vh;
}

.q-date__view {
  padding: 0;
}
.date-picker{
}
.q-mr-xxl {
  margin-right: 5rem;
}

.text-opacity {
  opacity: 0.5;
}
.mouse-over:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
  cursor: pointer;

}

.btn-group {
  justify-items: end;
}

.btn {
  //border-radius: 100%;
  width: 100%;
  //height: $btn-hs-md;
}

.btn:hover {
  opacity: 0.5;
}

.btn-lg {
  border-radius: 12px;
  width: $btn-ws-xl;
  height: $btn-hs-md;
}

.btn-clicked {
  background-color: $hover-btn;
  border-radius: 20px;
}

.q-m-a {
  margin: auto;
}

.input-text {
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-sm;
}

.span-bold{
  color: $primary;
  font-weight: bold;
}
.hr{
  padding: 0;
}

.full-width-1 {
  width: 100%;
}
