// It's highly recommended to change the default colors
// to match your app's branding.

//////////////////////////////////////////////
//                COLORS                    //
//////////////////////////////////////////////
$primary   : #000023;
$secondary : #D9D2CD;
$accent    : #4A0E04;
//$bg-color   : #D9D2CD;

$input-bg  : #f8f6f6;;
$hover-btn : #F5F1FF;

$dark      : #474747;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

//////////////////////////////////////////////
//                SIZES                     //
//////////////////////////////////////////////

$input-size : 25rem;

//FONTS SIZES
$font-size-sm : 16px;
$font-size-md : 18px;
$font-size-lg : 22px;
$font-size-xl : 26px;
//BUTTONS
$btn-ws-md : 20rem;
$btn-hs-md : 3rem ;
$btn-ws-xl : 20rem ;


@import '~quasar-variables-styl'
